@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 356.74deg 68.66% 26.27%;
    --foreground: 240 10% 3.9%;

    --header: 356.74deg 68.66% 26.27%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 106.15deg 61.9% 20.59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 356.74deg 68.66% 26.27%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 0 0% 98% /* 30deg 95.83% 52.94%*/;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 145.61deg 63.05% 48.82%;
    --success-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 356.74deg 68.66% 26.27%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
    --header-height: 98px;
  }

  .dark {
    --background: 356.74deg 68.66% 26.27%;
    --foreground: 240 10% 3.9%;

    --header: 356.74deg 68.66% 26.27%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 106.15deg 61.9% 20.59%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 356.74deg 68.66% 26.27%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 0 0% 98% /* 30deg 95.83% 52.94%*/;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 145.61deg 63.05% 48.82%;
    --success-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  section:last-of-type {
    @apply rounded-bl-[40px] rounded-br-[40px];
  }
}
